@import '_mixins';
@import 'vendors/bulma/bulma.sass';
@import '_global';


$navbar-height: 100%;
$navbar-background-color: #303A52;
$navbar-item-color: white;
$navbar-burger-color: white;
$navbar-divider-background-color: white;

//media query for laptop needs to make the original nav show and hamburger nav disappear



#navbar{
    background-color: $navbar-background-color;
    color: $navbar-divider-background-color;
    background-color: $navbar-background-color;
    position: fixed;
    top: 0;
    width: 100%;

    .navbar-burger-custom{
        
        // @include laptopMedium {
            
        //     display: none;
        // }

    }

    #navMenu{
        height: $navbar-height;
        width: 100%;
        position: fixed;
        background-color: $navbar-background-color;

        @include laptop {
            height: 2rem;
            padding: 0 0 3rem 0;
        }

        .navbar-item{
            color: $navbar-item-color;
            text-align: center;
            font-size: 2.2rem;
            background-color: $navbar-background-color;
            //make media query for bigger screens for margin-top
            margin-top: 4rem;

            @include phoneMedium{
                font-size: 2.4rem;
                margin-top: 3.5rem;
            }
            

            @include tablet{
                font-size: 2.3rem;
            }

            @include laptop{
                margin-top: 1rem;
                font-size: 1rem;
                margin: 1rem 3rem 0 0;
            }

        }
    }
    
    .navbar-burger-custom{
        span{
            color: $navbar-burger-color;
        }
    }
    
    .navbar-burger-custom:active{
        span{
            color: $navbar-burger-color;
        }
    }
}

.collapse {
    @include animation(collapse .5s ease forwards);

  }
  
  .open {
    @include animation(open .5s ease forwards);
  }

  @include keyframes (collapse){
    from {
        opacity: 1;
        top: 0;
    }
    to {
    opacity: 0;
    top: -73px;
    }
  }

  @include keyframes (open){
    from {
        opacity: 0;
        top: -73px;
      }
    to {
    opacity: 1;
    top: 0;
    }
  }